<div class="container-fluid">
    <div class="col-12 about-image1-div">
        <h1>YUN KI JUNG</h1>
        <img id="my-image2" src="./content/images/myphoto.png" alt="my-image2">
    </div>
    <div class="col-12 about-image2-div">

    </div>
    <h1><%= title %></h1>

</div>