<img id="main-image" src="./content/images/main-image.jpeg" alt="welcome-image"></img>
<img id="my-image" src="./content/images/myphoto.png" alt="my-image"></img>
<div id="hidden-btn" onclick="location.href='/about'">Click Me!</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1><%= title %></h1>
        </div>
    </div>
</div>